{% load i18n %}

{% block subject %}
{% blocktrans %}{{ site_name }} - Your password has been successfully changed!{% endblocktrans %}
{% endblock %}

{% block text_body %}
{% trans "Your password has been changed!" %}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<div class="main-container" style="margin: 0 auto; margin-left:250px; margin-right:250px;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #ffffff;">
      <tr>
        <td align="center">
          <img  style="height: 70px; width: auto" src="https://play-lh.googleusercontent.com/tVvGxOqpdD31w-GTHRF04kH3k9ctzKZFkJ6F8B5KkX-HJVHkSnxZGODw9z7bJl7-zo3G" alt="Company Logo" width="200" style="display: block;">
        </td>
      </tr>
      <tr>
        <td align="center">
          <div>
            <h1 style="margin-top:-25px; color: #ea5c1c; font-size:54px;"><strong>Workify</strong></h1>
            <p style="margin-top:-25px;font-size:24px;">Password Changed Successfully</p>
            <hr style="border-color: #ea5c1c; width:30%; margin:0 auto;" />
          </div>
        </td>
      </tr>
      <tr>
        <td align="center" style="padding: 20px;">
          <div style="margin-top: 15px;text-align: left; display: table-cell;">
            <div>
              <p>Hi, <strong>{{ user.get_username }}</strong></p>
            </div>
            <div>
                Your {{ site_name }} account ({{ user.get_username }}) password has been successfully changed.You're getting this email to make sure it was you.
            </div>
            
        
            <div style="margin-top: 35px">
              <p>Thanks,</p>
              <p style="margin-top: -9px">The {{ site_name }} Team</p>
            </div>
            <div style="margin-top:30px;">
              <p style="color: #bebebf; margin:0 auto;">
                If you did not request a password reset, please feel free to ignore
                this message.
              </p>
            </div>
          </div>
        
        </td>
      </tr>
    </table>
  </div>
{% endblock html_body %}
